
<section class="center_section">
	<section class="post_section">

		<section class="left_section">
			<img class="img-thumbnail" src="<%= @article.image_url %>" width="700">
		</section>

		<section class="right_section">
			<h2 class="post_title">
				<%= @article.title %>
			</h2>
			<section class="post_content">
				<p>
					<span id="article_date">
						<%= @article.created_at.strftime("%B %d, %Y") %>
					</span>
					<span id="date_author_divider">|</span>
					<span id="article_author">
						<%= @article.user.username %>
					</span>
				</p>
				<p><%= @article.content[0..700] %>.</p>
				<p class="tags">
					<% @article.tags.each do |tag| %>
					<span class="tag_span">#<%= tag.name %></span>
					<% end %>
				</p>
				<form id="remove_button" action="/article/<%= @article.id %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Remove" class="btn btn-default">
				</form>
				<form id="edit_button" action="/article/<%= @article.id %>/edit" method="get">
					<input type="submit" value="Edit" class="btn btn-default">
				</form>
			</section>
		</section>

		<section class="comment_form_section">
			<form role="form" id="add_comment" action="/comment/<%=@article.id%>" method="post">
				<div class="form-group form_div">
					<input class="comment_form form-control" name="comment_text" type="text" <%unless logged_in?%> disabled value="login to comment" <%end%>>
				</div>
				<input class="btn btn-info comment_submit" type="submit" value="submit">
			</form>
		</section>
	</section>

	<section class="post_section">
		<section class="user_comment_section">
			<ul class="comment_list">
				<% @article.comments.each do |comment| %>
				<p><span class="commenter"><a href="/user/<%=comment.user.id%>"><%= comment.user.username %>:</a></span><span><%= comment.comment %></span></p>
				<% end %>
			</ul>
		</section>
	</section>
</section>









